.characters {
    width: 150px;
    height: 150px;
}

.super-mario {
    position: absolute;
    margin-bottom: 20px;
}

.goomba {
    position: absolute;
    top: 250px;
}

.bowser {
    position: absolute;
    left: 400px;
}

p {
    left: 250px;
    position: absolute;
    z-index: 2;
    font-size: small;
}

.baloon {
    position: absolute;
    left: 240px;
    top: 70px;
    width: 150px;
    height: 70px;
    z-index: 1;
}