h1, p {
    text-align: center;
}

li {
    transition: width 3s;
    width: 0px;
}
li:hover {
    background-color: yellow;
    width: 100px;
}

li:active {
    font-family: monospace; 
}

ul, ol {
    list-style: none;
}