div:hover {
    border-style: solid;
    border-color: blue;
}

#h3_1, #h3_3, #h3_5 {
    font-style: italic;
}

div {
    width: 300px;
}

#div1 {
    background-color: yellow;
}

#div2 {
    background-color: green;
}

#div3 {
    background-color: aqua;
    height: 100px;
    text-align: center;
}

#div4 {
    background-color: rgb(8, 14, 53);
    color: white;
}

#div5 {
    background-color: powderblue;
}

#h3_1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 20px;
    text-align: center;
}

#h3_2 {
    font-family: monospace;
    height: 25px;
    left? 200px;    
}

#h3_3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 200px;
    padding: 30px;
    text-align: center;
}

#h3_4 {
    font-family: cursive;
}

#h3_5 {
    font-family: fantasy;
}